{% extends "main.html" %}

{% block main %}
    <section>
        <h2>Moje opravy</h2>
        <div>
            <table>
                <tr>
                    <th>Mechanik</th>
                    <th>Auto</th>
                    <th>Popis</th>
                    <th>Datum Vytvoreni</th>
                    <th>Odkaz</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <th>{{ order['mechanic'] }}</th>
                        <th>{{ order['car'] }}</th>
                        <th>{{ order['description'] }}</th>
                        <th>{{ order['creation_date'] }}</th>
                        <th><a href="/user_orders/{{ order['id'] }}">Odkaz</a></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock main %}

