body {
    font-family: Arial, sans-serif;
    background-color: #CED2D7;
  }
  
  h1 {
    text-align: center;
    color: #4c4c4c;
  }
  
  form,p {
    max-width: 300px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #264EAA ;
    color: #fff;
    padding: 14px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #264EAA ;
  }

