<div id="footer_text">
    Autoservis Brno: postaráme se o veškeré nedostatky vašeho automobilu. Značka ani stáří vozu nehraje roli. Autoopravna poskytuje služby karosářské, lakýrnické, elektrikářské. Automechanici se postarají o detekci problémů motoru, brzd, převodovky aj.
    <div>
        <div class="footer_contact">
            <div class="footer_contact_block">
            +420 603 542 652
            </div>
            <div class="footer_contact_block">
            <a href="autoservis@servis.cz ">info@servis.cz</a>
            </div>
        </div>
    </div>
</div>