<!DOCTYPE html>
<html lang="cs">
<head>
    <link rel="stylesheet" href="/static/login_styl.css" >
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <h1>Přihlásit se</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
<footer>
    
</footer>
</body>
</html>