<!DOCTYPE html>
<html lang="cz">
<head>
    {% include 'header.html' %}
    <meta charset="UTF-8">
    <title>Autoservis</title>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="/login">přihlášení</a>
        </li>
    </ul>
</header>
<main id="kontkat">
    <h2 >O nás</h2>
    <p>Naše firma je na trhu od roku 1989 a od roku 1991 se zabývala výhradně prodejem a servisem vozů značky Ford,
        od roku 2000 jsme začali opravovat vozy všech značek (plnou specializaci jsme ovšem rozšířili hlavně na FORD,
        VW, AUDI, ŠKODA, SEAT, BMW a další, + užitková auta - hlavně FORD TRANSIT, VW CRAFTER) a proto Vám můžeme nabídnout 
        vysokou profesionální úroveň ohledně poradenství s nákupem, servisem prodejem nových i ojetých vozů. Specializujeme 
        se na údržbu firemních vozových parků malých a středních firem. Náš tým Vám, vždy s ochotou poradí a pomůže. Samozřejmostí 
        jsou i úkony spojené s likvidací pojistných událostí, náhradní vozidlo, asistenční služby, odtah, STK, odhlášení, přihlášení, 
        kompletní vyřizování formalit spojených s dopravním inspektorátem, atd. Oproti autorizovaným servisům, naše rodinná 
        firma nabízí flexibilitu v kratších termínech oprav (drobné opravy a běžnou údržbu provádíme do druhého dne), ceny, 
        osobní přístup k dané opravě (po konzultaci se zákazníkem nabídneme autorizované díly z druhovýroby, či garantované 
        repasované díly dodávané automobilkami), pro stálé zákazníky poskytujeme zvýhodněné podmínky jak v asistenčních 
        službách tak i samostatným předem nastaveným cenníkem služeb. Jsme připraveni kdykoliv na doplňující otázky a těšíme 
        se na případnou spolupráci,

        za AUTOSERVIS MICHAL s.r.o., opsal Petr Strejček</p>
</main>
<footer>
    {% include 'footer.html' %}
</footer>
</body>
</html>