<!DOCTYPE html>
<html lang="cs">
<head>
    <link rel="stylesheet" href="/static/login_styl.css" >
    <meta charset="UTF-8">
    <title>Register Now</title>
</head>
<body>
<div>
    <h1>Registrovat se</h1>

    <form action="/register" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="First Name" >First Name</label><br>
        <input type="text" name="first_name"><br>
        <label for="Last Name" >Last Name</label><br>
        <input type="text"  name="last_name"><br>
        
        <label for="Email" >Email:</label><br>
        <input type="text"  name="email"><br>

        <input type="checkbox" name="access0" value= 0>
        <label for="Access"> Uživatel </label>
        <input type="checkbox" name="access1" value= 1>
        <label for="Access"> Zaměstanec </label>
        <input type="checkbox" name="access2" value= 2>
        <label for="Access"> Admin </label>

        <input type="submit" value="Submit"><br>
    </form> 
    
</div>
</body>
</html>
